@import "../../styles/mixins";
@import "../../styles/variables";

.home {
  &__title {
    @include text(4.25rem, $blue, 600);
    margin-top: 2rem;
    text-align: center;
  }

  &__form {
    margin-top: 4rem;

    &>.ant-form{

      &>.form-wrapper {
        display: flex;
      }
    }
  }
}
