@import "./variables";

@mixin text(
  $font-size,
  $color: $black,
  $font-weight: 400,
  $line-height: normal
) {
  font-size: $font-size;
  color: $color;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: Inter;
}

@mixin text-desc(){
  color: $gray;
}




